---
import { Image } from 'astro:assets';
import logo from '../assets/DUCKCHASE-logo2-lg.png';
---

<div class="relative flex items-center gap-x-4">
    <Image 
    src={logo}
    densities={[1, 2, 3]}
    alt="DuckChase's Logo"
    class="h-12 w-12"
    />
 
  <div class="text-lg leading-6">
    <h1 class="font-semibold text-primary text-xl dark:text-white">
      <span class="absolute inset-0"></span>
      DuckChase
    </h1>
    <p class="text-zinc-400 dark:text-zinc-300">Productions</p>
  </div>
</div>
